@import "/css_reset.css";
body{
    line-height: 1.5;
    font-family: serif;
    font-family: "Noto Sans TC","roboto",serif;
}
a{
    display: block;
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.wrap{
    margin: 0 auto;
    box-sizing: border-box;
}
.bg{
    background-color: #AA0601;
}
.container{
    padding: 0 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imgContainer{
    width: 80px;
    height: auto;
}
.nav{
    display: flex;
    list-style-type: none;
    column-gap:30px;
    padding: 25px 0;
}
.nav a{
    font-size: 20px;
    color: #FFFFFF;
}
